# Data and ML
pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost

# Web Framework
Flask
gunicorn
flask-cors

# Core ML Models
deepface==0.0.93
tensorflow==2.20.0

# Specific dependency for Render's environment
tensorflow-io-gcs-filesystem==0.31.0

# Utilities
python-dotenv