# Web Framework & Server
Flask
gunicorn
flask-cors

# Core Data Science & ML
numpy
pandas
scikit-learn
scipy

# Plotting Libraries
matplotlib
seaborn
plotly

# Gradient Boosting Models
catboost
xgboost

# Deep Learning & Face Recognition
deepface==0.0.93
tensorflow==2.20.0
tensorflow-io-gcs-filesystem==0.31.0

# Utilities
dill
gdown
python-dotenv